{% extends "Biblioteca/base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center m-4" >Eliminar Producto</h1>
    {% if success %}
        <div class="alert alert-success"  role="alert">
            Se elimino el libro correctamente
            <a href="{% url 'index' %}" class="alert-link">Ir a inicio
            </a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card border-primary mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>Editar Producto
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Editar</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}