{% extends "Biblioteca/base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center m-4">Editar Libro</h1>
    {% if success %}
        <div class="alert alert-success" role="alert">
            Se editó el Libro correctamente.
            <a href="{% url 'index' %}" class="alert-link">Ir a inicio</a>
        </div>
    {% else %}
        {% if user.is_authenticated %}
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <i class="fa-solid fa-pen-to-square fa-lg"></i> Editar Libro
                        </div>
                        <div class="card-body">
                            <form action="{% url 'editar' libro_id=libro.id %}" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Editar</button>
                                <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Debes iniciar sesión para editar Libros.</p>
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    {% endif %}
{% endblock %}
